<%= form_for(@permutator) do |f| %>
  <div class="row">
    <%= render 'shared/error_messages', object: f.object %>
  </div>
  <div class="row">
  </div>
  <div class="row">
    <div class="input-field col s6 offset-s3">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div class="input-field col s6 offset-s3">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
    <div class="input-field col s6 offset-s3">
      <%= f.label :middle_name %>
      <%= f.text_field :middle_name %>
    </div>
    <div class="input-field col s6 offset-s3">
      <%= f.label :company_name %>
      <%= f.text_field :company_name %>
    </div>
    <div class="input-field col s6 offset-s3">
      <%= f.label :company_domain %>
      <%= f.text_field :company_domain %>
    </div>
  </div>
  <div>
    <%= link_to "Back", root_url, class: "btn-large waves-effect waves-light purple lighten-2" %>
    <%= f.submit "Stalk using info", class: "btn-large waves-effect waves-light purple lighten-2" %>
  </div>
<% end %>
