<%= form_for(@contact) do |f| %>
  <div class="row">
    <%= render 'shared/error_messages', object: f.object %>
  </div>
  <div class="row">
    <div class="input-field col s6 offset-s3">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
  </div>
  <div>
    <%= link_to "Back", root_url, class: "btn-large waves-effect waves-light amber darken-3" %>
    <%= f.submit "Search", class: "btn-large waves-effect waves-light amber darken-3" %>
  </div>
<% end %>
