<!DOCTYPE html>
<html>
  <head>
    <title>Salem</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= include_sync_config %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <main>
      <div class="container">
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
